[submodule "ext/Catch"]
	path = ext/Catch
	url = git@github.com:philsquared/Catch.git
[submodule "ext/util.embedded"]
	path = ext/util.embedded
	url = git@github.com:malachib/util.embedded.git
[submodule "ext/libusbpp"]
	path = ext/libusbpp
	url = https://github.com/JENETRIC/libusbpp.git
[submodule "ext/config.webhooks"]
	path = ext/config.webhooks
	url = git@gitlab.com:malachi-configuration/webhooks.git
[submodule "ext/useful-scripts"]
	path = ext/useful-scripts
	url = git@gitlab.com:malachi-linux/useful-scripts.git
