[submodule "ext/Catch"]
	path = ext/Catch
	url = git@github.com:philsquared/Catch.git
[submodule "ext/util.embedded"]
	path = ext/util.embedded
	url = git@github.com:malachib/util.embedded.git
[submodule "ext/libusbpp"]
	path = ext/libusbpp
	url = https://github.com/JENETRIC/libusbpp.git
